*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;

}
.headerSection{
 display: flex; 
 padding: 10px;
 background-color: rgb(183, 175, 190);
padding-top: 20px;
}
.center ul li{
  list-style: none;
  display: inline-flex;
  margin: 0px 10px;
}
.title{
  font-size: 10px;
}
.left{
  flex: 2;
  
}
.center{
  flex: 4;
  

}
.search{
  flex: 2;
}

.search input{
  padding: 10px;
  width:20rem;
  border-radius: 5px;
  margin-left:20px ;
}
.right{
  flex: 4;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;

}
.bannerSection{
  margin: 20px 0px;
}
.bannerBox img{
  width:100%;
}
.menImages{
  gap: 10px;
}
.menImages img{
  width :250px;
  height:250px;
  padding-left: 10px;

}